---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Join">
	<div class="max-w-xl mx-auto">
		<header class="mb-8">
			<h1 class="font-serif text-3xl italic text-stone-900 mb-4">Join the Group</h1>
			<p class="text-stone-600 font-light">
				We are always looking for curious minds to join our discussions. Fill out the form below to get notified about upcoming meetups.
			</p>
		</header>

		<div class="bg-white p-1 shadow-sm border border-stone-100 rounded">
			<iframe 
				data-tally-src="https://tally.so/embed/w7KEWZ?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" 
				loading="lazy" 
				width="100%" 
				height="400" 
				frameborder="0" 
				marginheight="0" 
				marginwidth="0" 
				title="Join Memory Systems Group"
			>
			</iframe>
		</div>
	</div>

	<script>
		// @ts-ignore
		var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]'))v();else{var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}
	</script>
</Layout>
